html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;

  background:
    url('/assets/Hero-Background-notecode@2x.png') no-repeat 0 -200px,
    linear-gradient(to bottom right, rgba(183, 135, 245, 1), rgba(116, 62, 228, 1));
  background-size: cover;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.logo {
  margin: 0 auto;
  padding: 2rem 0;
}

.title {
  color: #121826;
  font-size: 2em;
  text-align: center;
}

.subtitle {
  font-size: 1.25em;
  display: block;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.5em;
  }
}

@media (max-height: 500px) {
  .title {
    display: none;
  }
}

.editor-container {
  overflow: hidden;
  border-radius: 10px;
  width: 75%;
  height: 60%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-select,
.language-select {
  width: 100px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
}

.theme-select {
  left: 160px;
}

.language-select {
  left: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
